* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.medsos {
    padding: 5px 0;
    height: 5vh;
    background-color: #FF6BA5;
}

.medsos ul li {
    display: inline-block;
    color: #FFFFFF;
    margin-right: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container:after {
    content: ' ';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: #FF6BA5;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover {
    background-color: #FF6BA5;
    color: #FFFFFF;
}

.active {
    background-color: #FF6BA5;
    color: #FFFFFF;
}

.label {
    background-color: #FF6BA5;
    color: #FFFFFF;
    padding: 5px;
    padding-bottom: 1px;
}

section {
    padding: 50px 0;
}

section h3 {
    text-align: center;
    padding: 20px 0;
    color: #FF6BA5;
    margin-bottom: 25px;
}


.catalog {
    padding-bottom: 100px;
}

.label p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.container p {
    color: white;
    position: initial;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 17px;
}
.catalog {
    background-color: #f9f9f9;
}

.catalog h3 {
    text-align: center;
}

.box {
    color: #FF6BA5;
    padding-left: 31vh;
}

.box:after {
    content: ' ';
    display: block;
    clear: both;
}

.box .col-3 {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}

.box .col-3 h4 {
    margin: 10px 0;
    margin: 0 auto;
}

footer {
    padding: 30px 0;
    background-color: #FF6BA5;
    color: #FFFFFF;
    text-align: center;
}

.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    border-top-color: #FF6BA5;
    border-right-color: #FF6BA5;
    border-bottom-color: #FF6BA5;
    animation: puterin .8s linear infinite
}


@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}
